<!DOCTYPE html>
<html ng-app="countryApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VK Community Checker</title>
    
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <style>
          .glyphicon-arrow-true:before {
            content: "\e094";
          }
          .glyphicon-arrow-false:before {
            content: "\e093";
          }
    </style>

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
    <script src="http:////cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
    <script>
    
    var countryApp = angular.module('countryApp', []);
    

    
    countryApp.controller('CountryCtrl', ['$scope', '$http', function (scope, http) {
      scope.id = Math.floor((Math.random()*90864594)+1);
      scope.all_members = [];
      scope.offline_members = [];
      scope.online_members = [];
      scope.offline_members_count = 0
      scope.online_members_count = 0
      scope.all_members_count = 0


      scope.calculate = function() {
        scope.progress="info";
        scope.group=[];
        scope.offline_members_count = 0;
        scope.online_members_count = 0;
        scope.all_members_count = 0
        scope.offline_members = [];
        scope.online_members = [];

        
        http.jsonp('https://api.vk.com/method/groups.getById?group_id=' + scope.id + '&extended=1&fields=photo_200,description,members_count&callback=JSON_CALLBACK').success(function(data) {
            scope.group = data.response;
        });

        http.jsonp('https://api.vk.com/method/groups.getMembers?group_id=' + scope.id + '&extended=1&callback=JSON_CALLBACK').success(function(data) {
            scope.members = data.response.users;
            scope.members_count = data.response.count;
            scope.get_members();

        });
        
            scope.sign="Загружается...";

      };



      scope.get_members = function () {
        scope.sign =  "";
        angular.forEach(scope.members, function(member){
          http.jsonp('https://api.vk.com/method/users.get?user_id=' + member + '&fields=screen_name,city,sex, photo_50,online,online_mobile,has_mobile,last_seen&callback=JSON_CALLBACK').success(function(data) {
            scope.infa = data.response;
            scope.field = scope.infa[0].online;
            scope.all_members_count = scope.all_members_count + 1


            if (scope.field == 0) {
                scope.offline_members.push(data.response);
                scope.offline_members_count = scope.offline_members_count + 1
              } else {
                scope.online_members.push(data.response);
                scope.online_members_count = scope.online_members_count + 1
            }         
            
          });

        });
        
      };


      scope.calculate();

      scope.sortField = 'name';
      scope.reverse = true;
    
      scope.random = function() {
        scope.all_members = [];
        scope.offline_members = [];
        scope.online_members = [];
        scope.offline_members_count = 0;
        scope.online_members_count = 0;
        scope.all_members_count = 0
        scope.id = Math.floor((Math.random()*90864594)+1);
        scope.calculate();
      }

    }]);
   
    </script>
  </head>
  
  <body ng-controller="CountryCtrl">
    <div class="container">
      <h1>Онлайн у групп ВК</h1>
      
      <div class="row">
        <div class="col-xs-6">
          <br>
          Group id <input id="art" ng-model="id" type="text" />    <a href='' class="btn btn-default" ng-click="calculate()">Посмотреть</a>
          <a href='' class="btn btn-default" ng-click="random()">Случайная</a>
          <br>или выберите: <a href="" ng-click='id=33393308; calculate()'>Цукерберг Позвонит</a>,
          <a href="" ng-click='id=70435584; calculate()'>Art Challenge</a>,
          <a href="" ng-click='id=29534144; calculate()'>Лентач</a>,
          <a href="" ng-click='id=44076247; calculate()'>Look At Art</a>,
          <a href="" ng-click='id=30825867; calculate()'>Start Fellows</a>
        </div>
      </div>
    
    <br><br>
    <div class="row">
    <div class="col-xs-6">
    <h3>{{sign}}</h3>
    <span ng-repeat="field in group">
      <h3>{{field.name}} <small><a href="http://vk.com/{{field.screen_name}}">{{field.screen_name}}</a></small></h3>
      <p><a target="_blank" href="http://vk.com/{{field.screen_name}}"><img ng-src='{{field.photo_200}}'></a></p>
      <p>{{field.members_count | number : fractionSize}} подписчиков</p>
      <p>{{field.description}}</p>
    </span>

    </div>


    <div class="col-xs-4">
      <h3>Online:</h3>

     
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-{{progress}}" role="progressbar" aria-valuenow="{{online_members_count/(members_count/100)}}" aria-valuemin="0" aria-valuemax="100" style="width: {{online_members_count/10}}%"></div>
      </div>
    
      <h6>{{online_members_count/10}}% из {{members_count | number : fractionSize}} подписчиков</h6>
      <br>
      <table class="table">
        <tr ng-repeat="member2 in online_members">  <!-- orderBy: 'population' // orderBy: '-population' -->

          <td><img ng-src={{member2[0].photo_50}}></td>
          <td>{{member2[0].first_name}} {{member2[0].last_name}}</td>
        </tr>
      </table>
    </div>


      
    
    

    
    </div>
  </body>
</html>