/* Ruben zone */


.btnShare {
  margin: 0px 5px 5px 0;
  min-width: 140px;
  height: 50px;
  font-size: 20px;
}

#divPrediction {
  display: none;
  
}



@media (max-width: 992px) {
     
}
  
@media (max-width: 600px) {
  
}

@media (max-width: 470px) {

}
/* /Ruben zone */