<html ng-app="gameApp">
  <head>
    <meta charset="utf-8">
    <title>Заблудший Роберт</title>
    <script src="http:////cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
    <script>
      var nameApp = angular.module('gameApp', []);
      nameApp.controller('GameCtrl', function ($scope) {
      
        $scope.me = "-stand.png";
        $scope.marginTop = 300;
        $scope.marginLeft = 0;
        $scope.pass = 20;
        $scope.gravity = 50;
        $scope.rocketHidden = "hidden";
        $scope.blastHidden = "hidden";
                
        $scope.rocketblast = function() {
          $scope.blastHidden = "false";
          setTimeout(function () {
            $scope.$apply(function () {
              $scope.blastHidden = "hidden";
            });
          }, 500);
        };

        $scope.jump = function() {
          $scope.marginTop = $scope.marginTop - $scope.gravity 
          setTimeout(function () {
            $scope.$apply(function () {
              $scope.marginTop = $scope.marginTop + $scope.gravity});
          }, 150);
        };

        $scope.fire = function() {

          $scope.rocketHidden = "false"
          $scope.rocketLeft = $scope.marginLeft + 70;
          $scope.rocketTop = $scope.marginTop-40;

          setTimeout(function () {
              $scope.$apply(function () {
                $scope.rocketLeft = $scope.rocketLeft + 170;
              });
          }, 200);

          setTimeout(function () {
              $scope.$apply(function () {
                $scope.rocketLeft = $scope.rocketLeft + 170;
              });
          }, 300);

          setTimeout(function () {
              $scope.$apply(function () {
                $scope.rocketHidden = "hidden"
                $scope.rocketblast();
              });
          }, 400);


        };


        $scope.moveWASD = function(keyEvent) {
          $scope.me = ".gif";

          //alert(keyEvent.which);
          if (keyEvent.which === 119 && $scope.marginTop > 240 ) {
            $scope.marginTop = $scope.marginTop - $scope.pass
          };

          if (keyEvent.which === 115 && $scope.marginTop < 400) {
            $scope.marginTop = $scope.marginTop + $scope.pass
          };

          if (keyEvent.which === 100) {
            $scope.marginLeft = $scope.marginLeft + $scope.pass
            $scope.wind = 1
          };

          if (keyEvent.which === 97 && $scope.marginLeft > 0) {
            $scope.marginLeft = $scope.marginLeft - $scope.pass
            $scope.wind = -1
          };
          
          if (keyEvent.which === 32) {
            $scope.fire();
          };
        };   
              
        $scope.move = function(evt) {
          $scope.me = ".gif";
          evt = (evt || event);
        
          $scope.click = evt.clientX + ' ' + evt.clientY        
        
          if (evt.clientX-60 > $scope.marginLeft) {
            $scope.marginLeft = $scope.marginLeft + $scope.pass
            $scope.wind = 1
          };

          if (evt.clientX-60 < $scope.marginLeft) {
            $scope.marginLeft = $scope.marginLeft - $scope.pass
            $scope.wind = -1
          };

          if (evt.clientY-60 > $scope.marginTop && $scope.marginTop < 400) {
            $scope.marginTop = $scope.marginTop + $scope.pass
          };

          if (evt.clientY-60 < $scope.marginTop && $scope.marginTop > 240) {
            $scope.marginTop = $scope.marginTop - $scope.pass
          };
        };
      });    
    </script>
    
    <style>
      #player {
       position: absolute;
       cursor: pointer;
      }

      #enemy {
       position: absolute;
       cursor: pointer;
       top: 40;
       left: 700;
      }

      #rocket {
       position: absolute;
       top: 40;
       left: 0;
      }

      #rocketBlast {
       position: absolute;
      }



    </style>

  </head>
  <body ng-controller="GameCtrl" ng-keypress="moveWASD($event)">
    <img id="background" draggable="false" src="back.png" height="600" ng-click="move();" >
    <img id="player" ng-src="me/8_bit_finn_by_mnrart-d6uxg5n{{me}}" ng-click="jump();" style="
                                                                    top: {{marginTop}};
                                                                    left: {{marginLeft}};
                                                                    -webkit-transform: scaleX({{wind}});">
    <img id="enemy" width="100" ng-src="enemy/tumblr_mkweh7l1Dx1s3bc1no3_r2_400.gif">
    <img id="rocket" width="40" ng-src="bullets/Queen_rocket.gif" style="
                                                        top: {{marginTop + 50}};
                                                        left: {{rocketLeft}};
                                                        visibility: {{rocketHidden}};">                                                                                                                           
    <img id="rocketBlast" width="120" ng-src="bullets/explosion.gif" style="
                                                        top: {{rocketTop}};
                                                        left: {{rocketLeft}};
                                                        visibility: {{blastHidden}};">
                                                                    

    <span>WASD - ходить, SPACE - стрелять</span>
    <!-- <span>Top: {{marginTop}}px ||  </span>
    <span>Left: {{marginLeft}}px ||  </span>
    <span>mouseclick: {{click}}</span> -->
  </body>
</html>



