<html ng-app="gameApp">
  <head>
    <meta charset="utf-8">
    <title>Синий Всадник</title>
    <script src="angular.js"></script>
    <script>
      var nameApp = angular.module('gameApp', []);
      nameApp.controller('GameCtrl', function ($scope) {
      
        $scope.me = "-stand.png";
        $scope.marginTop = 450;
        $scope.marginLeft = 0;
        $scope.pass = 20;
        $scope.gravity = 50;
        $scope.rocketHidden = "hidden";
        $scope.blastHidden = "hidden";
        $scope.enemyes = Array.new;
        $scope.enemyes = ["zero", "true", "440", "900", "true", "370", "1500", "true", "500", "600"]; 
        var $a = new Audio('assets/audio/Кино - Группа Крови.mp3');
        $a.loop = true;
        $a.play();
        
                
        $scope.rocketblast = function() {
          $scope.blastHidden = "false";
          setTimeout(function () {
            $scope.$apply(function () {
              $scope.blastHidden = "hidden";
            });
          }, 500);
        };

        $scope.enemyBlast = function(enemy) {
          new Audio('assets/audio/blast.mp3').play();
          $scope.blastTop = $scope.enemyes[enemy+1];
          $scope.blastLeft = $scope.enemyes[enemy+2];
          $scope.blastHidden = "false";
          setTimeout(function () {
            $scope.$apply(function () {
              $scope.blastHidden = "hidden";
            });
          }, 500);
        };


        $scope.jump = function() {
          $scope.marginTop = $scope.marginTop - $scope.gravity 
          setTimeout(function () {
            $scope.$apply(function () {
              $scope.marginTop = $scope.marginTop + $scope.gravity});
          }, 150);
        };
        
        $scope.fireMagic = function(enemy) {
          $scope.rocketHidden = "hidden";
          $scope.jump();          
          // setTimeout(function () {
          //     $scope.$apply(function () {
          //       $scope.rocketLeft = $scope.rocketLeft + 170;
          //     });
          // }, 200);

          setTimeout(function () {
              $scope.$apply(function () {
                $scope.enemyBlast(enemy);
                $scope.enemyes[enemy] = "none";
              });
          }, 100);

                
          
        };

        // $scope.fire = function(enemy) {
        //
        //   $scope.rocketHidden = "false"
        //   $scope.rocketLeft = $scope.marginLeft + 70;
        //   $scope.rocketTop = $scope.marginTop-40;
        //   $scope.enemy1Display = "none"
        //
        //   setTimeout(function () {
        //       $scope.$apply(function () {
        //         $scope.rocketLeft = $scope.rocketLeft + 170;
        //       });
        //   }, 200);
        //
        //   setTimeout(function () {
        //       $scope.$apply(function () {
        //         $scope.rocketLeft = $scope.rocketLeft + 170;
        //       });
        //   }, 300);
        //
        //   setTimeout(function () {
        //       $scope.$apply(function () {
        //         $scope.rocketHidden = "hidden"
        //         $scope.rocketblast();
        //       });
        //   }, 400);
        //
        //
        // };


        $scope.moveWASD = function(keyEvent) {
          $scope.me = ".gif";

          // alert(keyEvent.which);
          
          if (keyEvent.which === 119 && $scope.marginTop > 420 ) {
            $scope.marginTop = $scope.marginTop - $scope.pass
          };

          if (keyEvent.which === 115 && $scope.marginTop < 490) {
            $scope.marginTop = $scope.marginTop + $scope.pass
          };

          if (keyEvent.which === 100 && $scope.marginLeft < 1800) {
            $scope.marginLeft = $scope.marginLeft + $scope.pass
            $scope.wind = 1
          };

          if (keyEvent.which === 97 && $scope.marginLeft > 0 ) {
            $scope.marginLeft = $scope.marginLeft - $scope.pass
            $scope.wind = -1
          };
          
          if (keyEvent.which === 32) {
            $scope.jump();
          };

          if (keyEvent.which === 112) {

            if (window.pause == 1) {
              window.pause = 0; 
              $a.play();
            }
            else {
              $a.pause();
              window.pause = 1; 
            } 
          };
          
          
          
          
          if ($scope.enemyes[1] != "none" && $scope.marginTop+20 > $scope.enemyes[2] && $scope.marginTop-20 < $scope.enemyes[2] && $scope.marginLeft > $scope.enemyes[3]-100 && $scope.marginLeft < $scope.enemyes[3]) {
            alert('попался');
          };

          if ($scope.enemyes[4] != "none" && $scope.marginTop+20 > $scope.enemyes[5] && $scope.marginTop-20 < $scope.enemyes[5] && $scope.marginLeft > $scope.enemyes[6]-100 && $scope.marginLeft < $scope.enemyes[6]) {
            alert('попался');
          };

          if ($scope.enemyes[7] != "none" && $scope.marginTop+20 > $scope.enemyes[8] && $scope.marginTop-20 < $scope.enemyes[8] && $scope.marginLeft > $scope.enemyes[9]-100 && $scope.marginLeft < $scope.enemyes[9]) {
            alert('попался');
          };

          
        };   
              
        // $scope.move = function(evt) {
        //   $scope.me = ".gif";
        //   evt = (evt || event);
        //
        //   $scope.click = evt.clientX + ' ' + evt.clientY
        //
        //   if (evt.clientX-60 > $scope.marginLeft) {
        //     $scope.marginLeft = $scope.marginLeft + $scope.pass
        //     $scope.wind = 1
        //   };
        //
        //   if (evt.clientX-60 < $scope.marginLeft) {
        //     $scope.marginLeft = $scope.marginLeft - $scope.pass
        //     $scope.wind = -1
        //   };
        //
        //   if (evt.clientY-60 > $scope.marginTop && $scope.marginTop < 400) {
        //     $scope.marginTop = $scope.marginTop + $scope.pass
        //   };
        //
        //   if (evt.clientY-60 < $scope.marginTop && $scope.marginTop > 240) {
        //     $scope.marginTop = $scope.marginTop - $scope.pass
        //   };
        // };
      });    
    </script>
    
    <style>
      #player {
       position: absolute;
       cursor: pointer;
      }

      .enemy {
       position: absolute;
       cursor: pointer;
      }

/*      #rocket {
       position: absolute;
       top: 440;
       left: 0;
      }
*/
      #blast {
       position: absolute;
      }



    </style>

  </head>
  <body ng-controller="GameCtrl" ng-keypress="moveWASD($event)">
    <img id="background" draggable="false" src="assets/back2.gif" height="600"  >
    
    <img class="enemy" width="100" ng-src="assets/enemy/tumblr_mkweh7l1Dx1s3bc1no3_r2_400.gif" ng-click="fireMagic(1);" style="
                                                                            display: {{enemyes[1]}};
                                                                            top: {{enemyes[1+1]}};
                                                                            left: {{enemyes[1+2]}};
                                                                            ">

    <img class="enemy" width="200" ng-src="assets/enemy/giphy.gif" ng-click="fireMagic(4);" style="
                                                                            display: {{enemyes[4]}};
                                                                            top: {{enemyes[4+1]}};
                                                                            left: {{enemyes[4+2]}};
                                                                            ">

    <img class="enemy" width="100" ng-src="assets/enemy/tumblr_mkweh7l1Dx1s3bc1no3_r2_400.gif" ng-click="fireMagic(7);" style="
                                                                            display: {{enemyes[7]}};
                                                                            top: {{enemyes[7+1]}};
                                                                            left: {{enemyes[7+2]}};
                                                                            ">


    
    <img id="player" ng-src="assets/me/imperial_guard___run_cycle_by_papercaves-d51dgrx.gif" ng-click="jump();" style="
                                                                    top: {{marginTop}};
                                                                    left: {{marginLeft}};
                                                                    -webkit-transform: scaleX({{wind}});">
    <!-- <span ng-repeat="enemy in enemyes">
      {{enemy}}
    </span> -->
    
    
    
    <!-- <img id="rocket" width="40" ng-src="bullets/Queen_rocket.gif" style="
                                                        top: {{marginTop + 50}};
                                                        left: {{rocketLeft}};
                                                        visibility: {{rocketHidden}};">                                                        -->                                                                    
    <img id="blast" width="120" ng-src="assets/bullets/explosion.gif" style="
                                                        top: {{blastTop}};
                                                        left: {{blastLeft}};
                                                        visibility: {{blastHidden}};"></img>

    <!-- <span>WASD - ходить, SPACE - прыгать, CLICK - стрелять, P - музыка</span> -->
    <!-- <span>Top: {{marginTop}}px ||  </span>
    <span>Left: {{marginLeft}}px ||  </span>
    <span>mouseclick: {{click}}</span> -->
  </body>
</html>



