<html ng-app="gameApp">
  <head>
    <meta charset="utf-8">
    <title>Синий Всадник</title>
    <script src="http:////cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
    <script>
      var nameApp = angular.module('gameApp', []);
      nameApp.controller('GameCtrl', function ($scope) {
      
        $scope.me = "-stand.png";
        $scope.marginTop = 450;
        $scope.marginLeft = 0;
        $scope.pass = 20;
        $scope.gravity = 50;
        $scope.rocketHidden = "hidden";
        $scope.blastHidden = "hidden";
        $scope.enemyes = Array.new;
        $scope.enemyes = {"apples": 3, "oranges": 4, "bananas": {"green": 10, "yellow": 25}}; 
        var $a = new Audio('audio/02 Down Is The New Up.mp3');
        $a.loop = true;
        $a.play();
        
                
        $scope.rocketblast = function() {
          $scope.blastHidden = "false";
          setTimeout(function () {
            $scope.$apply(function () {
              $scope.blastHidden = "hidden";
            });
          }, 500);
        };

        $scope.enemy1Blast = function() {

          new Audio('audio/blast.mp3').play();
          
          
          $scope.blastHidden = "false";
          setTimeout(function () {
            $scope.$apply(function () {
              $scope.blastHidden = "hidden";
            });
          }, 500);
        };


        $scope.jump = function() {
          $scope.marginTop = $scope.marginTop - $scope.gravity 
          setTimeout(function () {
            $scope.$apply(function () {
              $scope.marginTop = $scope.marginTop + $scope.gravity});
          }, 150);
        };
        
        $scope.fireMagic = function(enemy) {
          $scope.rocketHidden = "hidden";
          $scope.jump();          
          // setTimeout(function () {
          //     $scope.$apply(function () {
          //       $scope.rocketLeft = $scope.rocketLeft + 170;
          //     });
          // }, 200);

          setTimeout(function () {
              $scope.$apply(function () {
                $scope.enemy1Display = "none";
                $scope.enemy1Blast();          
              });
          }, 100);

                
          
        };

        $scope.fire = function(enemy) {

          $scope.rocketHidden = "false"
          $scope.rocketLeft = $scope.marginLeft + 70;
          $scope.rocketTop = $scope.marginTop-40;
          $scope.enemy1Display = "none"

          setTimeout(function () {
              $scope.$apply(function () {
                $scope.rocketLeft = $scope.rocketLeft + 170;
              });
          }, 200);

          setTimeout(function () {
              $scope.$apply(function () {
                $scope.rocketLeft = $scope.rocketLeft + 170;
              });
          }, 300);

          setTimeout(function () {
              $scope.$apply(function () {
                $scope.rocketHidden = "hidden"
                $scope.rocketblast();
              });
          }, 400);


        };


        $scope.moveWASD = function(keyEvent) {
          $scope.me = ".gif";

          // alert(keyEvent.which);
          
          if (keyEvent.which === 119 && $scope.marginTop > 420 ) {
            $scope.marginTop = $scope.marginTop - $scope.pass
          };

          if (keyEvent.which === 115 && $scope.marginTop < 490) {
            $scope.marginTop = $scope.marginTop + $scope.pass
          };

          if (keyEvent.which === 100 && $scope.marginLeft < 1800) {
            $scope.marginLeft = $scope.marginLeft + $scope.pass
            $scope.wind = 1
          };

          if (keyEvent.which === 97 && $scope.marginLeft > 0 ) {
            $scope.marginLeft = $scope.marginLeft - $scope.pass
            $scope.wind = -1
          };
          
          if (keyEvent.which === 32) {
            $scope.jump();
          };

          if (keyEvent.which === 109) {

            if (window.pause == 1) {
              window.pause = 0; 
              $a.play();
            }
            else {
              $a.pause();
              window.pause = 1; 
            } 
          };
          
          if ($scope.marginLeft > 800 && $scope.marginTop < 480 && $scope.marginLeft < 960 && $scope.enemy1Display != "none") {
            alert('попался');
          }
          
        };   
              
        // $scope.move = function(evt) {
        //   $scope.me = ".gif";
        //   evt = (evt || event);
        //
        //   $scope.click = evt.clientX + ' ' + evt.clientY
        //
        //   if (evt.clientX-60 > $scope.marginLeft) {
        //     $scope.marginLeft = $scope.marginLeft + $scope.pass
        //     $scope.wind = 1
        //   };
        //
        //   if (evt.clientX-60 < $scope.marginLeft) {
        //     $scope.marginLeft = $scope.marginLeft - $scope.pass
        //     $scope.wind = -1
        //   };
        //
        //   if (evt.clientY-60 > $scope.marginTop && $scope.marginTop < 400) {
        //     $scope.marginTop = $scope.marginTop + $scope.pass
        //   };
        //
        //   if (evt.clientY-60 < $scope.marginTop && $scope.marginTop > 240) {
        //     $scope.marginTop = $scope.marginTop - $scope.pass
        //   };
        // };
      });    
    </script>
    
    <style>
      #player {
       position: absolute;
       cursor: pointer;
      }

      #enemy {
       position: absolute;
       cursor: pointer;
       top: 440;
       left: 900;
      }

/*      #rocket {
       position: absolute;
       top: 440;
       left: 0;
      }
*/
      #rocketBlast {
       position: absolute;
       top: 440;
       left: 900;
      }



    </style>

  </head>
  <body ng-controller="GameCtrl" ng-keypress="moveWASD($event)">
    <img id="background" draggable="false" src="back2.gif" height="600"  >
    
    <img id="enemy" width="100" ng-src="enemy/tumblr_mkweh7l1Dx1s3bc1no3_r2_400.gif" ng-click="fireMagic(1);" style="
                                                                            display: {{enemy1Display}};
                                                                            ">
    
    <img id="player" ng-src="me/imperial_guard___run_cycle_by_papercaves-d51dgrx.gif" ng-click="jump();" style="
                                                                    top: {{marginTop}};
                                                                    left: {{marginLeft}};
                                                                    -webkit-transform: scaleX({{wind}});">
    <!-- <span ng-repeat="enemy in enemyes">
      {{enemy}}
    </span> -->
    
    
    
    <!-- <img id="rocket" width="40" ng-src="bullets/Queen_rocket.gif" style="
                                                        top: {{marginTop + 50}};
                                                        left: {{rocketLeft}};
                                                        visibility: {{rocketHidden}};">                                                        -->                                                                    
    <img id="rocketBlast" width="120" ng-src="bullets/explosion.gif" style="
                                                        visibility: {{blastHidden}};"></img>

    <span>WASD - ходить, SPACE - прыгать, CLICK - стрелять, m - музыка</span>
    <!-- <span>Top: {{marginTop}}px ||  </span>
    <span>Left: {{marginLeft}}px ||  </span>
    <span>mouseclick: {{click}}</span> -->
  </body>
</html>



