<!DOCTYPE html>
<html ng-app="ScannerApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GiveMeSugar - Бесплатный анализатор ВКонтакте</title>
    <meta name="description" content="Узнать активность сообщества, наличие ботов, количество пользователей онлайн и т.д.">
    <link rel="canonical" href="http://14zy.ru/vk/" />
    <meta property="og:url" content="http://14zy.ru/vk/" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel='image_src' href="http://14zy.ru/vk/givemesugar.jpg">
    <meta property="og:image" content="http://14zy.ru/vk/givemesugar.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="GiveMeSugar - Бесплатный анализатор ВКонтакте" />
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="http:////cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
  </head>
  
  <body ng-controller="ScannerCtl" ng-init="random();">
    <div class="container">
    <h1><small><a href="http://14zy.ru/vk/"><span class="glyphicon glyphicon-cutlery"></span> GiveMeSugar</a></small></h1>
    <form class="form-group {{wrongId}}">
      <div class="input-group input-group-lg ">
        <input class="form-control" ng-model="link" type="text"/>
        <span class="input-group-btn">
          <button title="Анализировать" style="width: 100px;" type="submit" id="link" class="btn btn-success primary" ng-click="deside();">
            <span class="glyphicon glyphicon-search"></span>
          </button>
          <button title="Случайный профиль" style="width: 100px;" type="button" class="btn btn-info" ng-click="random();">
            <span class="glyphicon glyphicon-send"></span>
          </button>
        </span>
      </div>
      <label ng-cloak ng-show="wrongId" class="control-label">Хуёвый адрес</label>
      <small ng-show="!wrongId">Введите адрес сообщества или профиля ВКонтакте (например, <a href="" ng-click="link='http://vk.com/art.challenge'; deside(); ">http://vk.com/art.challenge</a> или <a href="" ng-click="link='http://vk.com/just14zy'; deside(); ">http://vk.com/just14zy</a>)</small>
    </form>

    <div ng-cloak class="row" ng-show="profile != null">
      <div class="col-md-4">
        <span ng-repeat="field in profile" on-finish-render="getCity();">    
          <h3>{{field.first_name}} {{field.last_name}}<br><a target="_blank" href="http://vk.com/{{field.screen_name}}"><small><span class="glyphicon glyphicon-user"></span> {{field.screen_name}}</small></a></h3>
          <p><a target="_blank" href="http://vk.com/{{field.screen_name}}"><img ng-src='{{field.photo_100}}'></a></p>
          <span ng-show="!field.deactivated">
            <span ng-show="field.screen_name != ('id' + field.uid.toString())"><small style="color: gray;">id: {{field.uid}}</small><br></span>
            <span style="color: green;" ng-show="field.online==1">Online<br></span>
            <span ng-show="field.city != 0">Город: {{field.city}}<br></span> 
            Пол: {{field.sex}}<br>
            <span ng-show="field.bdate !=nil">День рождения: {{field.bdate}}<br></span>
            <span ng-show="field.relation">Семейное положение: {{field.relation}}<br></span>
            <span ng-show="field.mobile != null"><img style="margin-top: -5px;" width="16" ng-src="icons/{{field.mobile}}.png"> {{field.mobile}}<br></span>
            <span ng-show="field.connections !=nil">connections: {{field.connections}}<br></span>
            <span ng-show="field.instagram !=nil"><a target="_blank" href="http://instagram.com/{{field.instagram}}">Instagram</a><br></span>
            <span ng-show="field.twitter !=nil"><a target="_blank" href="http://twitter.com/{{field.twitter}}">Twitter</a><br></span>
            <span ng-show="field.facebook !=nil"><a target="_blank" href="http://facebook.com/{{field.facebook}}">Facebook</a><br></span>
            <span ng-show="field.skype !=nil"><a target="_blank" href="skype:{{field.skype}}">Skype</a><br></span>
            <span ng-show="field.livejourna !=nil">livejournal: {{field.livejourna}}<br></span>
          </span>
        </span>    
        <br>
        <span ng-show="profile.interests">
        <h4>Интересы:</h4>
        <span ng-repeat="interest in profile.interests">    
        <li ng-if="!$last">{{interest[interest.length-1]['name']}}</li>
        <li ng-if="$last">{{interest[interest.length-1]['name']}}</li>
        </span>
        <li ng-show="!profile.interests.length">Не удалось определить</li>
        </span>
        <br>
      </div>

      <div class="col-md-4" ng-cloak ng-show="friends.length >= 0">
        <h3>Аудитория:</h3>        
        <span>{{friends.length}} друзей</span><br>  
        <span ng-show="friends.length > 10">
        <span title="Друзья, которые сделали хоть один лайк, репост или коммент на стене пользователя за последние 100 постов">Вовлечены в коммуникацию:
          <span ng-show="engaged == 'loading'"> loading...</span>
          <span ng-show="engaged != 'loading'"> {{engaged.length}}</span>
          <br>
        </span>
        <span title="Профили, заблокированные ВКонтакте">Боты: {{suspected.length}}</span><br>
        <div id="donutchart" style="margin: -5px 0 0 -80px ; width: 500px; height: 300px"></div>
        </span>
      </div>

      <div ng-cloak ng-show="friends.length >= 0" class="col-md-4">
        <h3>Тут будет реклама</h3>
        <img src="why-would-you-do-that.jpg">
      </div>
    </div> <!--profile row end-->

    <div class="row" ng-cloak ng-show="friends.length >= 10">

      <div class="col-md-4">
        <h3>Вовлечены <span class="badge">{{engaged.length}}</span></h3> 
          <span ng-repeat="friend in engaged">
            <a target="_blank" href="http://vk.com/id{{friend.uid}}">
              <span class="glyphicon glyphicon-user"></span>
              <span>{{friend.first_name}} {{friend.last_name}}</span>
            </a>
            <br>
          </span>    
      </div>


      <div class="col-md-4">
        <h3>Не вовлечены <span class="badge">{{friends.length-engaged.length}}</span></h3>
          <span ng-repeat="friend in friends" ng-if="engagedList.indexOf(friend.uid) < 0">
            <a target="_blank" href="http://vk.com/id{{friend.uid}}">
              <span class="glyphicon glyphicon-user"></span>
              <span>{{friend.first_name}} {{friend.last_name}}</span>
            </a>
            <br>
          </span>
      </div>


      <div class="col-md-4">
        <h3>Боты <span class="badge">{{suspected.length}}</span></h3>
        <span ng-repeat="friend in suspected">
          <a target="_blank" href="http://vk.com/id{{friend.uid}}">
            <span class="glyphicon glyphicon-user"></span>
            <span>{{friend.first_name}} {{friend.last_name}}</span>
          </a>
          <br>
        </span>
      </div>

    </div> <!-- row profile end -->


    <!-- row group start -->
    <div class="row" ng-cloak ng-show="group != null">
      <div class="col-md-4">        
        <span ng-repeat="field in group">
          <h3>{{field.name}}<br><a href="http://vk.com/{{field.screen_name}}"><small><span class="glyphicon glyphicon-comment"></span> {{field.screen_name}}</small></a></h3>
          <p><a target="_blank" href="http://vk.com/{{field.screen_name}}"><img ng-src='{{field.photo_100}}'></a></p>
          <span ng-show="field.screen_name != ('id' + field.uid.toString())"><small style="color: gray;">id: {{field.gid}}</small><br></span>      
          <span ng-show="group['online'] > 0" style="color: green;">Online: {{group['online'] | number : fractionSize}} ({{(group['online'] / (group[0]['members_count']/100)).toFixed(0)}}%)<br></span>    
          <!-- <span ng-show="field.counters.photos">Фотографий: {{field.counters.photos | number : fractionSize}}<br></span>
          <span ng-show="field.counters.albums">Альбомов: {{field.counters.albums | number : fractionSize}}<br></span>
          <span ng-show="field.counters.topics">Обсуждения: {{field.counters.topics | number : fractionSize}}<br></span>
          <span ng-show="field.counters.videos">Видео: {{field.counters.videos | number : fractionSize}}<br></span>
          <span ng-show="field.counters.audios">Аудио: {{field.counters.audios | number : fractionSize}}<br></span> -->
        </span>
        <br>
        <div ng-cloak ng-show="group['iPhoneUsers'] > 0" id="GroupMobilesChart" style="margin: 0 0 0 -40px; width: 400px; height: 200px"></div>
      </div>
      
      <div class="col-md-4" ng-cloak ng-show="group[0].members_count >= 0">
        <h3>Аудитория:</h3>
        <span ng-show="members.length >= group[0]['members_count']">{{members.length | number : fractionSize}} подписчиков<br></span>
        <span ng-show="members.length < group[0]['members_count']">Анализируем {{members.length | number : fractionSize}} из {{group[0]['members_count'] | number : fractionSize}} подписчиков<br></span>
        <span>Вовлечены в коммуникацию: 
          <!-- <span ng-show="loading == true">loading...<br></span>
          <span ng-show="loading == 'calculating...'">calculating...<br></span> -->
          <span>{{group_engagedList.length | number : fractionSize}}<br></span>
        </span>
        <span>Боты: {{group['bots']}}<br></span>
        <div id="donutchartGroup" style="margin: -5px 0 0 -80px ; width: 500px; height: 300px"></div>
      </div>
      
      <div ng-cloak ng-show="members.length >= 0" class="col-md-4">
        <h3>Тут будет реклама</h3>
        <img src="why-would-you-do-that.jpg">
      </div>

      
    </div> <!-- row group end -->
    <br><br>
    <div class="row" ng-cloak>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <div style="text-align: center;" >
            Все права принадлежат пользователям.<br>
            <a target="_blank" href="http://14zy.ru">Рубен Бабаев</a>
        </div>
      </div>        
    </div>
    <br>
  </div> <!-- container end -->
      
    
    <!-- Agular Controller -->
    <script>
    var ScannerApp = angular.module('ScannerApp', []).config( [
      '$compileProvider',
      function( $compileProvider )
      {   
          $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|chrome-extension|skype|tel):/);
        // Angular before v1.2 uses $compileProvider.urlSanitizationWhitelist(...)
      }
    ]);
    
    ScannerApp.controller('ScannerCtl', ['$scope', '$http', function (scope, http) {
      
      
      scope.deside = function() {
        scope.clean();
        scope.id = scope.link.split("/")[scope.link.split("/").length-1];
        if (scope.id.slice(0,2) == "id") {scope.getProfile(); return};
        if (scope.id.slice(0,4) == "club") {scope.id = scope.id.slice(4,scope.id.length); scope.getGroup(); return};
        http.jsonp('https://api.vk.com/method/utils.resolveScreenName?screen_name=' + scope.id + '&callback=JSON_CALLBACK').success(function(data) {
            if (data.response.type == "user") {scope.getProfile(); return};
            if (data.response.type == "club" || data.response.type == "group") {scope.getGroup(); return};
            if (!data.response.type) {scope.wrongId="has-error"; return};
        });
      };
            
      
      scope.getProfile = function() {
        if (scope.id == "id1") {alert('Вы не можете устремить свой никчёмный взгляд на Создателя!'); return;};
        http.jsonp('https://api.vk.com/method/users.get?user_ids=' + scope.id + '&fields=sex,bdate,city,country,photo_50,photo_100,photo_200_orig,photo_200,photo_400_orig,photo_max,photo_max_orig,online,online_mobile,lists,domain,has_mobile,contacts,connections,site,education,universities,schools,can_post,can_see_all_posts,can_see_audio,can_write_private_message,status,last_seen,relation,relatives,counters,screen_name,timezone&callback=JSON_CALLBACK').success(function(data) {
          if (data.response[0]['deactivated'] || data.response[0]['photo_50'] == 'http://vk.com/images/camera_50.gif') {
            scope.random();
            return true;
          } else {
            scope.profile = data.response;
            scope.digestProfile();
            scope.getFriends();
          }
        });
      };
      
      scope.getGroup = function() {        
        http.jsonp('https://api.vk.com/method/groups.getById?group_id=' + scope.id + '&fields=photo_200,photo_100,description,members_count,counters&callback=JSON_CALLBACK').success(function(data) {
          if (data.response[0]['deactivated'] || data.response[0]['name'] == "Закрытая группа" || data.response[0]['photo_100'] == 'http://vk.com/images/community_100.gif') {
            scope.random();
            return true;
          } else {
            scope.group = data.response;
            window.members = scope.group[0]['members_count'];
            scope.getGroupWall();
          };
        });
      };
      
      scope.getGroupWall = function() {
        var url = "https://api.vk.com/method/wall.get?owner_id=-" + scope.group[0]['gid'] + "&count=100&filter=owner&callback=JSON_CALLBACK";
        http.jsonp(url).success(function(data) {
          scope.groupWall = data.response;
          scope.getMembers();
        });        
      };
      
      
      scope.getMembers = function() {
        window.iphones = scope.group['iPhoneUsers'] = 0;
        window.ipads = scope.group['iPadUsers'] = 0;
        window.androids = scope.group['AndroidUsers'] = 0;
        window.windows = scope.group['WindowsUsers'] = 0;
        window.group_bots = 0;
        scope.group['bots'] = 0;
        //scope.group_engaged = [];
        scope.group_engagedList = [];
        scope.group['online'] = 0;
        
        if (scope.group[0]['members_count'] < 1000) {
          http.jsonp('https://api.vk.com/method/groups.getMembers?group_id=' + scope.id + '&callback=JSON_CALLBACK').success(function(data) {
            scope.membersList = data.response.users;
            scope.getEngagedMembers(scope.membersList);
          });

          http.jsonp('https://api.vk.com/method/groups.getMembers?group_id=' + scope.id + '&fields=online,photo_50,last_seen&callback=JSON_CALLBACK').success(function(data) {
            scope.members = data.response.users;
            scope.analyzeMembers(scope.members);
          });
        } else {
          scope.membersList = [];
          scope.members = [];
          //scope.loading = true;
          for (var i = 0; i < scope.group[0]['members_count']; i=i+1000) {
            http.jsonp('https://api.vk.com/method/groups.getMembers?group_id=' + scope.id + '&offset=' + i + '&callback=JSON_CALLBACK').success(function(data) {
              scope.membersList = scope.membersList.concat(data.response.users);
              if (scope.membersList.length == scope.group[0]['members_count']) {
                scope.getEngagedMembers(scope.membersList);
              };
            });

            http.jsonp('https://api.vk.com/method/groups.getMembers?group_id=' + scope.id + '&offset=' + i + '&fields=online,photo_50,last_seen&callback=JSON_CALLBACK').success(function(data) {
              scope.members = scope.members.concat(data.response.users);
              scope.analyzeMembers(data.response.users);
            });
                        
          }; // end for
        }; // end if
      };
      
      scope.getEngagedMembers = function(membersList) {
          angular.forEach(scope.groupWall, function(post){
            url = "https://api.vk.com/method/likes.getList?owner_id=-" + scope.group[0]['gid'] + "&item_id=" + post['id'] + "&count=100&extended=1&type=post&callback=JSON_CALLBACK";
            http.jsonp(url, { cache: true}).success(function(data) {
              if (data.response != undefined && data.response['items'] != undefined) {
                  angular.forEach(data.response['items'], function(user){
                    if (membersList.indexOf(user['uid']) >= 0 && scope.group_engagedList.indexOf(user['uid']) < 0) {
                      //scope.group_engaged.push(user);
                      scope.group_engagedList.push(user['uid'])
                    };
                  });
              };
              window.group_engaged = scope.group_engagedList.length;
              drawChartGroup();
            }); 
          });

          
          
          
          
          
          
          
          
          
          //count commenters              
          // url = "https://api.vk.com/method/wall.getComments?owner_id=" + scope.profile[0]['uid'] + "&post_id=" + scope.wall[i]['id'] + "&count=100&callback=JSON_CALLBACK";
//           http.jsonp(url).success(function(data) {
//             result = data.response;
//             if (result != 0 ) {
//               angular.forEach(result, function(user){
//                 if (user['uid'] != undefined ) {
//                   if (scope.friendsList.indexOf(user['uid']) >= 0) {
//                     if (scope.engagedList.indexOf(user['uid']) < 0) {
//                       user['first_name'] = "id" + user['uid'].toString();
//                       scope.engaged.push(user);
//                       scope.engagedList.push(user['uid'])
//                     };
//                   };                   
//                 };
//               });
//             };
//           });
          
        //};
      };


      scope.analyzeMembers = function(current) {
        angular.forEach(current, function(member){
          if (member['last_seen'] != undefined) {
            switch (member['last_seen']['platform']) {
              case 2:
                window.iphones = scope.group['iPhoneUsers']++ //"iPhone"
                break;
              case 3:
                window.ipads = scope.group['iPadUsers']++ //"iPad"
                break;
              case 4:
                window.androids = scope.group['AndroidUsers']++ //"Android"
                break;
              case 5:
                window.windows = scope.group['WindowsUsers']++ //"Windows Phone"
                break;
              case 6:
                window.windows = scope.group['WindowsUsers']++ //"Windows 8"
                break;
            };
          };
          if (member['deactivated'] || member['photo_50'] == 'http://vk.com/images/camera_50.gif') {window.group_bots++; scope.group['bots']++};

          if (member['online'] == 1) {scope.group['online']++};
          
        });
      drawChartMobiles(); 
      drawChartGroup();
      };


      scope.getFriends = function() {
        var url = 'https://api.vk.com/method/friends.get?user_id=' + scope.profile[0]['uid'] + '&callback=JSON_CALLBACK';
        http.jsonp(url).success(function(data) {
          scope.friendsList = data.response;
        });
        var url = 'https://api.vk.com/method/friends.get?user_id=' + scope.profile[0]['uid'] + '&fields=first_name&callback=JSON_CALLBACK';
        http.jsonp(url).success(function(data) {
          scope.friends = data.response;
          window.friends = scope.friends.length;
          if (window.friends > 10) {
            scope.getEngaged();
            scope.suspected = [];
            angular.forEach(scope.friends, function(friend){
              if (friend['deactivated']) {
                scope.suspected.push(friend);
                window.suspected = scope.suspected.length;
              };                
            });
           };
        });
      };


      scope.getEngaged = function() {
        scope.error = null;
        var url = "https://api.vk.com/method/wall.get?owner_id=" + scope.profile[0]['uid'] + "&count=100&filter=owner&callback=JSON_CALLBACK";
        http.jsonp(url).success(function(data) {
          scope.wall = data.response;
          if (scope.wall.length > 10) {scope.engaged = "loading"} else {scope.engaged = 0; window.engaged=0};
          scope.getLost = false;
          scope.engaged = [];
          scope.engagedList = [];
          for (var i = 1; i < scope.wall.length-1; i++) {
            if (scope.getLost) {break;}

            //count likers
            url = "https://api.vk.com/method/likes.getList?owner_id=" + scope.profile[0]['uid'] + "&item_id=" + scope.wall[i]['id'] + "&friends_only=1&count=100&filter=likes&extended=1&type=post&callback=JSON_CALLBACK";
            http.jsonp(url).success(function(data) {
              var result = data.response;
              if (result['items'] != undefined) {
                angular.forEach(result['items'], function(user){
                  if (scope.friendsList.indexOf(user['uid']) >= 0) {
                    if (scope.engagedList.indexOf(user['uid']) < 0) {scope.engaged.push(user); scope.engagedList.push(user['uid'])};
                  };                   
                });
              };
              window.engaged = scope.engaged.length;
              drawChart();
            });              

            // //count commenters              
            url = "https://api.vk.com/method/wall.getComments?owner_id=" + scope.profile[0]['uid'] + "&post_id=" + scope.wall[i]['id'] + "&count=100&callback=JSON_CALLBACK";
            http.jsonp(url).success(function(data) {
              result = data.response;
              if (result != undefined ) {
                angular.forEach(result, function(user){
                  if (user['uid'] != undefined ) {
                    if (scope.friendsList.indexOf(user['uid']) >= 0) {
                      if (scope.engagedList.indexOf(user['uid']) < 0) {
                        user['first_name'] = "id" + user['uid'].toString();
                        scope.engaged.push(user);
                        scope.engagedList.push(user['uid'])
                      };
                    };                   
                  };
                });
              };
            });
          };
        });
      };


      scope.getInterests = function() {
        var url = "http://hidden-reaches-3613.herokuapp.com/getInterest.json?user_id=" + scope.profile[0]['uid'] + "&callback=JSON_CALLBACK";
        http.get(url).success(function(response) {
          scope.profile.interests = response.interests;
          scope.profile.interest_mobile = response.mobile;
          scope.profile.interest_drugs = response.drugs;
          scope.profile.interest_city = response.city;
        });
      };
      
      
      scope.getGroups = function() { 
        var url = 'https://api.vk.com/method/users.getSubscriptions?user_id=' + scope.profile[0]['uid'] + '&extended=1&count=200&callback=JSON_CALLBACK';
        http.jsonp(url).success(function(data) {
          scope.groups = data.response;
          if (scope.groups.length > 1) { 
            // scope.getInterests();
            angular.forEach(scope.groups, function(group){
              if (group.type=="profile") {
                http.jsonp('https://api.vk.com/method/users.getFollowers?user_id=' + group.uid + '&callback=JSON_CALLBACK').success(function(data) {
                  group.followers = data.response.count;
                });
              };
              http.jsonp('https://api.vk.com/method/groups.getMembers?group_id=' + group.gid + '&extended=1&callback=JSON_CALLBACK').success(function(data) {
                group.followers = data.response.count;
              });
            });
          };
        });
      };
      
      
      scope.digestProfile = function() {  
        http.jsonp('https://api.vk.com/method/database.getCitiesById?city_ids=' + scope.profile[0]['city'] + "&callback=JSON_CALLBACK").success(function(data) {
          if (scope.profile[0]['city']) {scope.profile[0]['city'] = data.response[0]['name']};
        });

        if (scope.profile[0]['sex'] == 1) {scope.profile[0]['sex'] = "Женский"};
        if (scope.profile[0]['sex'] == 2) {scope.profile[0]['sex'] = "Мужской"};

        switch (scope.profile[0]['last_seen']['platform']) {
          // case 1:
          //   scope.profile[0]['mobile'] = null // Через мобильную версию
          //   break;

          case 2:
            scope.profile[0]['mobile'] = "iPhone"
            break;

          case 3:
            scope.profile[0]['mobile'] = "iPad"
            break;

          case 4:
            scope.profile[0]['mobile'] = "Android"
            break;

          case 5:
            scope.profile[0]['mobile'] = "Windows Phone"
            break;

          case 6:
            scope.profile[0]['mobile'] = "Windows 8"
            break;

          // case 7:
          //   scope.profile[0]['mobile'] = null // Через сайт
          //   break; 
        };
          
        switch (scope.profile[0]['relation']) {
          case 1:
            if (scope.profile[0]['sex'] == "Мужской") {scope.profile[0]['relation'] = "не женат"};
            if (scope.profile[0]['sex'] == "Женский") {scope.profile[0]['relation'] = "не замужем"};
            break;

          case 2:
            if (scope.profile[0]['sex'] == "Мужской") {scope.profile[0]['relation'] = "есть подруга"};
            if (scope.profile[0]['sex'] == "Женский") {scope.profile[0]['relation'] = "есть друг"};
            break;

          case 3:
            if (scope.profile[0]['sex'] == "Мужской") {scope.profile[0]['relation'] = "помолвлен"};
            if (scope.profile[0]['sex'] == "Женский") {scope.profile[0]['relation'] = "помолвлена"};
            break;

          case 4:
            if (scope.profile[0]['sex'] == "Мужской") {scope.profile[0]['relation'] = "женат"};
            if (scope.profile[0]['sex'] == "Женский") {scope.profile[0]['relation'] = "замужем"};
            break;

          case 5:
            scope.profile[0]['relation'] = "всё сложно";
            break;

          case 6:
            scope.profile[0]['relation'] = "в активном поиске";
            break;

          case 7:
            if (scope.profile[0]['sex'] == "Мужской") {scope.profile[0]['relation'] = "влюблён"};
            if (scope.profile[0]['sex'] == "Женский") {scope.profile[0]['relation'] = "влюблёна"};
            break; };
        };


      scope.random = function() {
        switch (Math.floor((Math.random()*2)+1)) {
          case 1:
            scope.link = "http://vk.com/id" + Math.floor((Math.random()*90864594)+1).toString();
            break;

          case 2:
            scope.link = "http://vk.com/club" + Math.floor((Math.random()*90864594)+1).toString();
            break;
        };
        scope.deside();
      };    
      
      scope.clean = function() {
        scope.getLost = true;
        //scope.loading = false;
        scope.group = null;
        scope.profile = null;
        window.friends = scope.friends = null;
        window.suspected = scope.suspected = null;
        window.engaged = null;
        scope.engaged = null;
        scope.error = scope.wrongId = null;

        window.group_engaged = 0;
        window.group_bots = 0;
        window.members = 0;
        //scope.group_engaged = 0;

        
        window.iphones = null;
        window.ipads = null;
        window.androids = null;
        window.windows = null;

        drawChart();
        drawChartMobiles();
        drawChartGroup();
      };
      
      
    }]); //controller end
    </script>

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
    <!-- Latest compiled and minified JavaScript -->    
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- Google Chart -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Вовлечены', window.engaged  ],
          ['Не вовлечены', (window.friends - window.engaged - window.suspected) ],
          ['Боты', window.suspected  ],
        ]);

        var options = {
          // title: 'Всего ' + window.friends + ' друзей:',
          pieHole: 0.4,
          colors: ['lightgreen','lightblue', 'gray']
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      };

      function drawChartGroup() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Вовлечены', window.group_engaged  ],
          ['Не вовлечены', (window.members - window.group_engaged - window.group_bots) ],
          ['Боты', window.window.group_bots  ],
        ]);

        var options = {
          // title: 'Всего ' + window.friends + ' друзей:',
          pieHole: 0.4,
          colors: ['lightgreen','lightblue', 'gray']
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchartGroup'));
        chart.draw(data, options);
      };


      function drawChartMobiles() {
        var data = google.visualization.arrayToDataTable([
          ['Platform', '',  { role: 'style' }],
          ['iPhone', window.iphones, "lightgray" ],
          ['iPad', window.ipads, "gray" ],
          ['Android', window.androids, "lightgreen" ],
          ['Windows Phone', window.windows, "lightblue" ]
        ]);

        var options = {
          title: 'Распределение устройств',
          legend: { position: "none" },
          //colors: ['gray','gray', 'green', 'blue']
          //hAxis: {title: 'Year', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('GroupMobilesChart'));
        chart.draw(data, options);
      };


    </script>

    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter12907687 = new Ya.Metrika({id:12907687, enableAll: true, webvisor:true});
            } catch(e) {}
        });
    
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/12907687" style="position:absolute; left:-9999px;" alt="" /></div></noscript>


<script id="sid0020000063824935506">(function() {function async_load(){s.id="cid0020000063824935506";s.src=(window.location.href.indexOf('file:///') > -1 ? 'http:' : '') + '//st.chatango.com/js/gz/emb.js';s.style.cssText="width:361px;height:374px;";s.async=true;s.text='{"handle":"givemesugar","arch":"js","styles":{"a":"428bca","b":100,"c":"FFFFFF","d":"FFFFFF","k":"428bca","l":"428bca","m":"428bca","n":"FFFFFF","q":"428bca","r":100,"t":0,"ab":false,"pos":"br","cv":1,"cvbg":"428bca","cvw":200,"cvh":30,"surl":0,"allowpm":0,"cnrs":"0.35","ticker":1}}';var ss = document.getElementsByTagName('script');for (var i=0, l=ss.length; i < l; i++){if (ss[i].id=='sid0020000063824935506'){ss[i].id +='_';ss[i].parentNode.insertBefore(s, ss[i]);break;}}}var s=document.createElement('script');if (s.async==undefined){if (window.addEventListener) {addEventListener('load',async_load,false);}else if (window.attachEvent) {attachEvent('onload',async_load);}}else {async_load();}})();</script>

  </body>
</html>