<!DOCTYPE html>
<html ng-app="ScannerApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GiveMeSugar - Бесплатный анализатор ВКонтакте</title>
    <meta name="description" content="Узнать активность сообщества, наличие ботов, количество пользователей онлайн и т.д.">
    <link rel="canonical" href="http://14zy.ru/vk/" />
    <meta property="og:url" content="http://14zy.ru/vk/" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel='image_src' href="http://14zy.ru/vk/givemesugar.jpg">
    <meta property="og:image" content="http://14zy.ru/vk/givemesugar.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="GiveMeSugar - Бесплатный анализатор ВКонтакте" />
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="http:////cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
  </head>
  
  <body ng-controller="ScannerCtl" ng-init="random();">
    <div class="container">
    <h1><small><a href="http://vk.com/vk/"><span class="glyphicon glyphicon-cutlery"></span> GiveMeSugar</a></small></h1>
    <form>
      <div class="input-group input-group-lg">
        <input class="form-control" ng-model="link" type="text"/>
        <span class="input-group-btn">
          <button title="Анализировать" style="width: 100px;" type="submit" id="link" class="btn btn-success primary" ng-click="getProfile();">
            <span class="glyphicon glyphicon-search"></span>
          </button>
          <button title="Случайный профиль" style="width: 100px;" type="button" class="btn btn-info" ng-click="random();">
            <span class="glyphicon glyphicon-send"></span>
          </button>
        </span>
      </div>
    </form>

    <small>Введите адрес ВКонтакте (например, <a href="" ng-click="link='http://vk.com/just14zy';getProfile(); ">http://vk.com/just14zy</a>)</small>

    <br>
    <br>
    
    <div class="row">  
      <div class="col-md-4">
        <span ng-repeat="field in profile" on-finish-render="getCity();">    
          <h3 ng-cloak>{{field.first_name}} {{field.last_name}} <a target="_blank" href="http://vk.com/{{field.screen_name}}"><small>{{field.screen_name}}</small></a></h3>
          <p><a target="_blank" href="http://vk.com/{{field.screen_name}}"><img ng-src='{{field.photo_100}}'></a></p>
          <span ng-cloak ng-show="!field.deactivated">
            <span ng-show="field.screen_name != ('id' + field.uid.toString())"><small style="color: gray;">id: {{field.uid}}</small><br></span>
            <span style="color: green;" ng-show="field.online==1">Online<br></span>
            <span ng-show="field.city != 0">Город: {{field.city}}<br></span> 
            Пол: {{field.sex}}<br>
            <span ng-show="field.bdate !=nil">День рождения: {{field.bdate}}<br></span>
            <span ng-show="field.mobile != 'Через сайт'">{{field.mobile}}<br></span>
            <span ng-show="field.relation">Семейное положение: {{field.relation}}<br></span>
            <span ng-show="field.connections !=nil">connections: {{field.connections}}<br></span>
            <span ng-show="field.instagram !=nil"><a target="_blank" href="http://instagram.com/{{field.instagram}}">Instagram</a><br></span>
            <span ng-show="field.twitter !=nil"><a target="_blank" href="http://twitter.com/{{field.twitter}}">Twitter</a><br></span>
            <span ng-show="field.facebook !=nil"><a target="_blank" href="http://facebook.com/{{field.facebook}}">Facebook</a><br></span>
            <span ng-show="field.skype !=nil"><a target="_blank" href="skype:{{field.skype}}">Skype</a><br></span>
            <span ng-show="field.livejourna !=nil">livejournal: {{field.livejourna}}<br></span>
          </span>
        </span>    
        <br>
        <span ng-cloak ng-show="profile.interests">
        <h4>Интересы:</h4>
        <span ng-cloak ng-repeat="interest in profile.interests">    
        <li ng-if="!$last">{{interest[interest.length-1]['name']}}</li>
        <li ng-if="$last">{{interest[interest.length-1]['name']}}</li>
        </span>
        <li ng-show="!profile.interests.length">Не удалось определить</li>
        </span>
        <br>
      </div>

      
      <div class="col-md-4">
        <h3>Аудитория:</h3>        
        <span ng-cloak>Друзей: {{friends.length}}</span><br>  
        <span ng-cloak ng-show="friends.length > 10">
        <span title="Друзья, которые поставили хоть один лайк на стене пользователя (за последние 100 постов)">Вовлечённых в коммуникацию: {{engaged}}<br></span>
        <span title="Профили, заблокированные ВКонтакте">Ботов: {{suspected}}</span><br>
        <span ng-show="error != null" style="color:red">
        <br>{{error}}
        <img width="200" src="http://static.planetminecraft.com/files/resource_media/screenshot/1209/fuuuu-rage-guy1_1596246.jpg">
        </span>
        <div ng-show="error == null" id="donutchart" style="margin: -5px 0 0 -80px ; width: 500px; height: 300px"></div>
        </span>
      </div>        
    
    </div>
    
    <!-- <div class="row" ng-cloak ng-show="groups.length > 1">
      <div class="col-md-6">
      <table class="table">
        <tr>
          <th><span style="margin-left: -8px;"ng-click="sortField = 'name'; reverse = !reverse;">Подписан на:</span></th>
          <th><span ng-click="sortField = 'followers'; reverse = !reverse">Аудитория</span></th>
        </tr>
        <tr ng-repeat="group in groups | filter:query | orderBy:sortField:reverse">
          <td><a target="_blank" href="http://vk.com/{{group.screen_name}}">{{group.name || group.first_name + " "+ group.last_name}}</a></td>
          <td>{{group.followers | number : fractionSize}}</td>
        </tr>
      </table>
      </div>
    </div> -->
      
  </div>
      
    
    <!-- Agular Controller -->
    <script>
    var ScannerApp = angular.module('ScannerApp', []).config( [
      '$compileProvider',
      function( $compileProvider )
      {   
          $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|chrome-extension|skype|tel):/);
        // Angular before v1.2 uses $compileProvider.urlSanitizationWhitelist(...)
      }
    ]);
    
    ScannerApp.controller('ScannerCtl', ['$scope', '$http', function (scope, http) {

      scope.getInterests = function() {
        var url = "http://hidden-reaches-3613.herokuapp.com/getInterest.json?user_id=" + scope.profile[0]['uid'] + "&callback=JSON_CALLBACK";
        http.get(url).success(function(response) {
          scope.profile.interests = response.interests;
          scope.profile.interest_mobile = response.mobile;
          scope.profile.interest_drugs = response.drugs;
          scope.profile.interest_city = response.city;
        });
      };
        
      scope.getEngaged = function() {
        var url = "https://api.vk.com/method/wall.get?owner_id=" + scope.profile[0]['uid'] + "&count=100&filter=owner&callback=JSON_CALLBACK";
        http.jsonp(url).success(function(data) {
          scope.wall = data.response;
          var likers = [];
          var arrayUnique = function(a) {
              return a.reduce(function(p, c) {
                  if (p.indexOf(c) < 0) p.push(c);
                  return p;
              }, []);
          };
          if (scope.wall.length > 10) {scope.engaged = "loading..."} else {scope.engaged = 0};
          for (var i = 1; i < scope.wall.length-1; i++) {
            url2 = "https://api.vk.com/method/likes.getList?owner_id=" + scope.profile[0]['uid'] + "&item_id=" + scope.wall[i]['id'] + "&friends_only=1&count=100&filter=likes&type=post&callback=JSON_CALLBACK";
            http.jsonp(url2).success(function(data2) {
              scope.result = data2.response;
              if (scope.result['users'] != undefined ) {
                angular.forEach(scope.result['users'], function(user){                  
                  likers.push(user);
                  scope.engaged = arrayUnique(likers).length;
                  window.engaged = scope.engaged;
                  if (window.engaged > window.friends) {
                    scope.error = "Что-то пошло не так =(";
                  }
                  drawChart();
                });
              };
            });
          };
        });
        //alert('getEngaged.json');
        // var url2 = "http://localhost:3000/getEngaged.json?user_id=" + scope.profile[0]['uid'] + "&callback=JSON_CALLBACK";
        // scope.engaged = "loading";
        // http.get(url2).success(function(response) {
        //   scope.engaged = response.engaged;
        //   window.engaged = scope.engaged;
        //   drawChart();
        // });  
      };

      scope.getProfile = function() {
        window.friends = null;
        window.suspected = null;
        window.engaged = null;
        scope.friends = null;
        scope.suspected = null;
        scope.engaged = null;
        scope.error = null;
        drawChart();
        scope.id = scope.link.split("/")[scope.link.split("/").length-1];
        if (scope.id == "id1") {alert('Вы не можете устремить свой никчёмный взгляд на Создателя!'); return;};
        http.jsonp('https://api.vk.com/method/users.get?user_ids=' + scope.id + '&fields=sex,bdate,city,country,photo_50,photo_100,photo_200_orig,photo_200,photo_400_orig,photo_max,photo_max_orig,online,online_mobile,lists,domain,has_mobile,contacts,connections,site,education,universities,schools,can_post,can_see_all_posts,can_see_audio,can_write_private_message,status,last_seen,relation,relatives,counters,screen_name,timezone&callback=JSON_CALLBACK').success(function(data) {
          if (data.response[0]['deactivated']) {
            scope.random();
          } else {
            scope.profile = data.response;
            scope.digestProfile();
            scope.getFriends();
            //scope.getGroups();
          }
        });
      };
      
      scope.getGroups = function() { 
        var url = 'https://api.vk.com/method/users.getSubscriptions?user_id=' + scope.profile[0]['uid'] + '&extended=1&count=200&callback=JSON_CALLBACK';
        http.jsonp(url).success(function(data) {
          scope.groups = data.response;
          if (scope.groups.length > 1) { 
            // scope.getInterests();
            angular.forEach(scope.groups, function(group){
              if (group.type=="profile") {
                http.jsonp('https://api.vk.com/method/users.getFollowers?user_id=' + group.uid + '&callback=JSON_CALLBACK').success(function(data) {
                  group.followers = data.response.count;
                });
              };
              http.jsonp('https://api.vk.com/method/groups.getMembers?group_id=' + group.gid + '&extended=1&callback=JSON_CALLBACK').success(function(data) {
                group.followers = data.response.count;
              });
            });
          };
        });
      };


    scope.getFriends = function() {
      var url = 'https://api.vk.com/method/friends.get?user_id=' + scope.profile[0]['uid'] + '&callback=JSON_CALLBACK';
      http.jsonp(url).success(function(data) {
        scope.friends = data.response;
        window.friends = scope.friends.length;
        if (window.friends > 10) {
          scope.getEngaged();
          //drawChart();
          scope.suspected = 0;
          angular.forEach(scope.friends, function(friend){
            http.jsonp('https://api.vk.com/method/users.get?user_ids=' + friend + '&callback=JSON_CALLBACK').success(function(data) {
              if (data.response[0]['deactivated']) {
                scope.suspected++;
                window.suspected = scope.suspected;
                drawChart();
              };
            });
          });
         };
      });
    };
    

    scope.random = function() {
      scope.link = "http://vk.com/id" + Math.floor((Math.random()*90864594)+1).toString();
      scope.getProfile();
    };    

    scope.digestProfile = function() {  
      http.jsonp('https://api.vk.com/method/database.getCitiesById?city_ids=' + scope.profile[0]['city'] + "&callback=JSON_CALLBACK").success(function(data) {
        if (scope.profile[0]['city']) {scope.profile[0]['city'] = data.response[0]['name']};
      });

      if (scope.profile[0]['sex'] == 1) {scope.profile[0]['sex'] = "Женский"};
      if (scope.profile[0]['sex'] == 2) {scope.profile[0]['sex'] = "Мужской"};

      switch (scope.profile[0]['last_seen']['platform']) {
        case 1:
          scope.profile[0]['mobile'] = "Пользуется обычным телефоном"
          break;

        case 2:
          scope.profile[0]['mobile'] = "iPhone"
          break;

        case 3:
          scope.profile[0]['mobile'] = "iPad"
          break;

        case 4:
          scope.profile[0]['mobile'] = "Android"
          break;

        case 5:
          scope.profile[0]['mobile'] = "Windows Phone"
          break;

        case 6:
          scope.profile[0]['mobile'] = "Windows 8"
          break;

        case 7:
          scope.profile[0]['mobile'] = "Через сайт"
          break; };
          
      switch (scope.profile[0]['relation']) {
        case 1:
          if (scope.profile[0]['sex'] == "Мужской") {scope.profile[0]['relation'] = "не женат"};
          if (scope.profile[0]['sex'] == "Женский") {scope.profile[0]['relation'] = "не замужем"};
          break;

        case 2:
          if (scope.profile[0]['sex'] == "Мужской") {scope.profile[0]['relation'] = "есть подруга"};
          if (scope.profile[0]['sex'] == "Женский") {scope.profile[0]['relation'] = "есть друг"};
          break;

        case 3:
          if (scope.profile[0]['sex'] == "Мужской") {scope.profile[0]['relation'] = "помолвлен"};
          if (scope.profile[0]['sex'] == "Женский") {scope.profile[0]['relation'] = "помолвлена"};
          break;

        case 4:
          if (scope.profile[0]['sex'] == "Мужской") {scope.profile[0]['relation'] = "женат"};
          if (scope.profile[0]['sex'] == "Женский") {scope.profile[0]['relation'] = "замужем"};
          break;

        case 5:
          scope.profile[0]['relation'] = "всё сложно";
          break;

        case 6:
          scope.profile[0]['relation'] = "в активном поиске";
          break;

        case 7:
          if (scope.profile[0]['sex'] == "Мужской") {scope.profile[0]['relation'] = "влюблён"};
          if (scope.profile[0]['sex'] == "Женский") {scope.profile[0]['relation'] = "влюблёна"};
          break; };

      };
    
    }]);
    
    </script>

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
    <!-- Latest compiled and minified JavaScript -->    
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- Google Chart -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Вовлечены', window.engaged  ],
          ['Не вовлечены', (window.friends - window.engaged - window.suspected) ],
          ['Боты', window.suspected  ],
        ]);

        var options = {
          // title: 'Всего ' + window.friends + ' друзей:',
          pieHole: 0.4,
          colors: ['lightgreen','lightblue', 'gray']
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }

    </script>

    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter12907687 = new Ya.Metrika({id:12907687, enableAll: true, webvisor:true});
            } catch(e) {}
        });
    
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/12907687" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

  </body>
</html>